<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8NL5TQF9L8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-8NL5TQF9L8');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    @{
        var siteUrl = "https://www.proestetik.com.tr";
        var currentPath = Context.Request.Path.Value ?? "/";
        var canonicalUrl = ViewData["CanonicalUrl"]?.ToString();

        if (string.IsNullOrWhiteSpace(canonicalUrl))
        {
            canonicalUrl = siteUrl + currentPath.ToLowerInvariant();
        }

        var pageTitle = ViewData["Title"]?.ToString() ?? "İzmir Pro Estetik Diş Kliniği";
        var pageDescription = ViewData["MetaDescription"]?.ToString() ?? "İzmir Bornova'da hizmet veren Pro Estetik Diş Kliniği; implant, zirkonyum kaplama, Hollywood Smile, ortodonti, bonding, gummy smile ve estetik diş hekimliği tedavileri sunar.";
        var pageKeywords = ViewData["MetaKeywords"]?.ToString() ?? "İzmir diş kliniği, İzmir implant, zirkonyum kaplama, Hollywood Smile İzmir, estetik diş hekimliği, Bornova diş kliniği";
        var ogImage = ViewData["OgImage"]?.ToString() ?? "https://www.proestetik.com.tr/img/logo.png";
    }
    <title>@pageTitle</title>

    <meta name="description" content="@pageDescription">
    <meta name="keywords" content="@pageKeywords">
    <meta name="author" content="Pro Estetik Diş Kliniği">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@canonicalUrl" />

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Pro Estetik Diş Kliniği">
    <meta property="og:title" content="@pageTitle">
    <meta property="og:description" content="@pageDescription">
    <meta property="og:url" content="@canonicalUrl">
    <meta property="og:image" content="@ogImage">
    <meta property="og:locale" content="tr_TR">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@pageTitle">
    <meta name="twitter:description" content="@pageDescription">
    <meta name="twitter:image" content="@ogImage">

    <meta name="robots" content="index, follow">
    <link rel="icon" href="@Url.Content("~/img/favicon.png")" type="image/png" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:wght@400&family=Gilda+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/plugins.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- Google Tag Manager -->
    <script>        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NNM39QCW');</script>
    <!-- End Google Tag Manager -->
        <!-- Schema -->
        @if (ViewBag.SchemaJson != null)
        {
            @Html.Raw(ViewBag.SchemaJson)
        }
        else
        {
            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "Dentist",
                "@@id": "https://www.proestetik.com.tr/#dentist",
                "name": "İzmir Pro Estetik Diş Kliniği",
                "alternateName": [
                "Pro Estetik",
                "Izmir Pro Aesthetic Dental Clinic"
                ],
                "url": "https://www.proestetik.com.tr/",
                "image": "https://www.proestetik.com.tr/img/logo.png",
                "description": "İzmir Bornova'da hizmet veren Pro Estetik Diş Kliniği; implant, zirkonyum kaplama, Hollywood Smile, ortodonti, gummy smile, bonding, diş köprüsü, diş kuronu ve kaplama tedavileri sunar.",
                "foundingDate": "2011",
                "founder": {
                "@@type": "Person",
                "name": "Doç. Dr. M. Selim Bilgin"
                },
                "telephone": "+90 232 463 4747",
                "email": "info@proestetik.com.tr",
                "address": {
                "@@type": "PostalAddress",
                "streetAddress": "Kazım Dirik Mah. 375 Sk. No: 16/A",
                "addressLocality": "Bornova",
                "addressRegion": "İzmir",
                "addressCountry": "TR"
                },
                "areaServed": [
                {
                "@@type": "City",
                "name": "İzmir"
                },
                {
                "@@type": "Country",
                "name": "Türkiye"
                }
                ],
                "medicalSpecialty": [
                "Dentistry",
                "Cosmetic Dentistry",
                "Implant Dentistry",
                "Orthodontics"
                ],
                "hasOfferCatalog": {
                "@@type": "OfferCatalog",
                "name": "Pro Estetik Diş Tedavileri",
                "itemListElement": [
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Diş İmplantı",
                "url": "https://www.proestetik.com.tr/hizmetler/dis-implanti"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Hollywood Smile",
                "url": "https://www.proestetik.com.tr/hizmetler/hollywood-smile"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Zirkonyum Kaplama",
                "url": "https://www.proestetik.com.tr/hizmetler/zirkonyum-kaplama"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Ortodonti",
                "url": "https://www.proestetik.com.tr/hizmetler/ortodonti"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Gummy Smile",
                "url": "https://www.proestetik.com.tr/hizmetler/gummy-smile"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Diş Köprüsü",
                "url": "https://www.proestetik.com.tr/hizmetler/dis-koprusu"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Bonding",
                "url": "https://www.proestetik.com.tr/hizmetler/bonding"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Diş Kuronu",
                "url": "https://www.proestetik.com.tr/hizmetler/dis-kuronu"
                }
                },
                {
                "@@type": "Offer",
                "itemOffered": {
                "@@type": "MedicalProcedure",
                "name": "Kaplama",
                "url": "https://www.proestetik.com.tr/hizmetler/kaplama"
                }
                }
                ]
                },
                "sameAs": [
                "https://www.instagram.com/prosestetik/",
                "https://www.facebook.com/prosestetik/"
                ]
                }
            </script>

            <script type="application/ld+json">
                {
                "@@context": "https://schema.org",
                "@@type": "WebSite",
                "@@id": "https://www.proestetik.com.tr/#website",
                "name": "İzmir Pro Estetik Diş Kliniği",
                "url": "https://www.proestetik.com.tr/",
                "inLanguage": "tr-TR",
                "publisher": {
                "@@id": "https://www.proestetik.com.tr/#dentist"
                }
                }
            </script>
        }
        <!-- HreflangTags -->
        @if (ViewBag.HreflangTags != null)
        {
            @Html.Raw(ViewBag.HreflangTags)
        }
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @await Component.InvokeAsync("Navbar")
    <div id="cappa-main">
        @RenderBody()
        <!-- _Layout.cshtml dosyanızda body etiketi kapandıktan sonra veya uygun bir yerde ekleyebilirsiniz -->
            <a href="https://wa.me/905327731035?text=Merhabalar%2C%20randevu%20olu%C5%9Fturmak%20istiyorum"
                   target="_blank"
                   class="whatsapp-float"
                   title="WhatsApp ile iletişime geçin">
                <i class="bi bi-whatsapp"></i>
            </a>
        @await Component.InvokeAsync("Footer")
    </div>
    <!-- jQuery -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.5.0.min.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/jquery.isotope.v3.0.2.js"></script>
    <script src="~/js/pace.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/YouTubePopUp.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/smooth-scroll.min.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
