<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Sayfa Başlığı -->
    <title>@ViewData["Title"]</title>

    <!-- Meta Açıklama & Anahtar Kelimeler -->
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="keywords" content="@ViewData["MetaKeywords"]">
    <meta name="author" content="Pro Estetik Diş Kliniği">
   
    <meta name="robots" content="index, follow">
    <link rel="icon" href="@Url.Content("~/img/favicon.png")" type="image/png" sizes="32x32">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:wght@400&family=Gilda+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/plugins.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    @if (ViewBag.SchemaJson != null)
    {
        @Html.Raw(ViewBag.SchemaJson)
    }
    <!-- HreflangTags -->
    @if (ViewBag.HreflangTags != null)
    {
        @Html.Raw(ViewBag.HreflangTags)
    }
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @await Component.InvokeAsync("Navbar")
    <div id="cappa-main">
    @RenderBody()
        <!-- _Layout.cshtml dosyanızda body etiketi kapandıktan sonra veya uygun bir yerde ekleyebilirsiniz -->
        <a href="https://wa.me/905309961599?text=Hello%2C%20I%20would%20like%20to%20make%20an%20appointment"
               target="_blank"
               class="whatsapp-float"
               title="Contact us on WhatsApp">
            <i class="bi bi-whatsapp"></i>
        </a>
    @await Component.InvokeAsync("Footer")
    </div>
    <!-- jQuery -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.5.0.min.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/jquery.isotope.v3.0.2.js"></script>
    <script src="~/js/pace.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/YouTubePopUp.js"></script>
    <script src="~/js/select2.js"></script>
    <script src="~/js/datepicker.js"></script>
    <script src="~/js/smooth-scroll.min.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
