@model Team
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.MetaTitle) ? "Team" : Model.MetaTitle;
    ViewData["MetaDescription"] = string.IsNullOrEmpty(Model.MetaDescription) ? DataRequestModel.SiteSetting.MetaDescription : Model.MetaDescription;
    ViewData["MetaKeywords"] = string.IsNullOrEmpty(Model.Keywords) ? DataRequestModel.SiteSetting.Keywords : Model.Keywords;

}

<!-- Header Banner -->
<div class="banner-header section-padding valign bg-img" data-overlay-dark="4" data-background="/img/bg1.png" style="background-image: url(&quot;/img/bg1.png&quot;);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left caption mt-90">
                <h5><a asp-area="en" asp-controller="EnTeam" asp-action="Index">Team</a> </h5>
                <h1>@Model.Position @Model.Name</h1>
            </div>
        </div>
    </div>
</div>



<!-- Post -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img src="@Url.Content($"~/image/{Model.Image}")" class="mb-30" alt="@Model.Name">
                <h2>@Model.Position</h2>
                @Html.Raw(Model.Description)




            </div>
            <!-- Sidebar -->
            <div class="col-md-4">
                <div class="news2-sidebar row">

                    <div class="col-md-12">
                        <div class="widget">
                            <div class="widget-title">
                                <h6>Son Bloglar</h6>
                            </div>
                            <ul class="recent">
                                @foreach (var item in DataRequestModel.Blogs)
                                {
                                    <li>
                                        <div class="thum"> <img src="@Url.Content("~/image/" + item.Image)" alt="@item.Title"> </div>
                                        <a asp-area="en" asp-controller="EnBlog" asp-action="Detail" asp-route-slug="@item.Slug">@item.Title</a>
                                    </li>
                                }


                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
